- if @quiz.author == session["account_name"]
  %a{:href => "/quizzes/view/#{@quiz.to_param}/nq"} new question
%form{:method => "post", :action => "/quizzes/score"}
  %input{:type => "hidden", :name => "quiz_name", :id => "quiz_name", :value => "#{@quiz.name}"}/
  %fieldset
    %legend
      = "#{@quiz.name} (#{@quiz.questions.count} #{pluralize('question', @quiz.questions.count)})"
    %ul
      - @quiz.questions.each do |q|
        %li
          = q.text
          %label{:for => "question_#{q.id}_true"} true
          %input{:type => "radio", :name => "answers[#{q.id}]", :id => "question_#{q.id}_true", :value => "true"}/
          %label{:for => "question_#{q.id}_false"} false
          %input{:type => "radio", :name => "answers[#{q.id}]", :id => "question_#{q.id}_false", :value => "false"}/
      %li
        %input{:type => "submit", :value => "Score"}
